*, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 10px;
  }
  
  body {
    padding: 0;
    margin:0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  h3 {
    text-align: center;
    font-size: 3rem;
    line-height:1;
    margin-bottom: 0;
  }
  
  
  .score {
    padding:0 3rem;
    line-height:1;
    border-radius:1rem;
  }
  
  .game {
    width:600px;
    height:400px;
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
  }
  
  .hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
  }
  
  .hole:after {
    display: block;  
    background: url('images/mud.png') 
    bottom center no-repeat;
    background-size:contain;
    content:'';
    width: 100%;
    height:70px;
    position: absolute;
    z-index: 2;
    bottom:-30px;
  }
  
  .mole {
    background:url('images/mole.gif') bottom center no-repeat;
    background:url bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;
  }

  button{
      padding:5px;
      margin-top: 2%;
      font-size: 20px;

  }
  
  .hole.up .mole {
    top:0;
  }